:root{
    --sedan-color: hsl(31, 77%, 52%);
    --suvs-color: hsl(184, 100%, 22%);
    --luxury-color: hsl(179, 100%, 13%);
}

body {
    color: white;
    font-family: "Lexend Deca", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 0 40%;
}

button {
    background-color: white;
    color: black;
    border-radius: 25px;
    border: none;
    margin-top: 15px;
    width: 150px;
    padding: 1em;
}

button:hover {
    transition: .23s;
    background-color: black;
    color: white;
}

.container{
    height: auto;
    padding: 2em 4em 2em 4em;
}

.container p{
    font-weight: lighter;
    height: 120px;
    margin: 15px 0 15px;
    margin: 2em 0 5em;
}

.sedan-container {
    background-color: var(--sedan-color);
}

.container-suvs {
    background-color: var(--suvs-color);
}

.container-luxury {
    background-color: var(--luxury-color);
}


@media only screen and (max-width: 793px) {

    .sedan-container {
        margin-right: 20px !important;
        margin-left: 20px !important;

    }

    .container-suvs {
        margin-right: 20px !important;
        margin-left: 20px !important;
    }

    .container-luxury {
        margin-right: 20px !important;
        margin-left: 20px !important;
    }

    body {
        display: unset;
        padding: 0;
    }

}