body {
    color: white;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    padding: 2em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div {
font-weight: lighter;
height: 100px;
margin:15px 0 15px;

}

.sedan-container {
    background-color: hsl(31, 77%, 52%);
    color: hsl(31, 77%, 52%);
    height: auto;
    padding: 2em 4em 2em 4em;;
}

.container-suvs {
    background-color: hsl(184, 100%, 22%);
    color: hsl(184, 100%, 22%);
    height: auto;
    padding: 2em 4em 2em 4em;
}

.container-luxury {
    background-color: hsl(179, 100%, 13%);
    color: hsl(179, 100%, 13%);
    height: auto;
    padding: 2em 4em 2em 4em;;
}

.sedan-container div {
    color: white;
font-weight:lighter;
height: 100px;
margin:15px 0 15px;

}

.container-suvs div {
    color: white;
    font-weight:lighter;
    height: 100px;
    margin:15px 0 15px;
}

.container-luxury div {
    color: white;
    font-weight:lighter;
    height: 100px;
    margin:15px 0 15px;
}
