body {
    color: white;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    padding: 2em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    background-color: white;
    color: inherit;
    border-radius: 25px;
    border: none;
    text-decoration: none;
    margin-top: 15px;
    width: 200px;
    font-family: "Lexend Deca", sans-serif;

}

button:hover {
    transition: .23s;
    background-color: black;
    color: white;
}

h1 {
    color: white;
}

div {
    font-weight: lighter;
    height: 100px;
    margin: 15px 0 15px;

}

.sedan-container {
    background-color: hsl(31, 77%, 52%);
    color: hsl(31, 77%, 52%);
    height: auto;
    padding: 2em 4em 2em 4em;
    ;
}

.container-suvs {
    background-color: hsl(184, 100%, 22%);
    color: hsl(184, 100%, 22%);
    height: auto;
    padding: 2em 4em 2em 4em;
}

.container-luxury {
    background-color: hsl(179, 100%, 13%);
    color: hsl(179, 100%, 13%);
    height: auto;
    padding: 2em 4em 2em 4em;
    ;
}

.sedan-container div {
    color: white;
    font-weight: lighter;
    height: 100px;
    margin: 15px 0 15px;

}

.container-suvs div {
    color: white;
    font-weight: lighter;
    height: 100px;
    margin: 15px 0 15px;
}

.container-luxury div {
    color: white;
    font-weight: lighter;
    height: 100px;
    margin: 15px 0 15px;
}

/* Used https://www.w3schools.com/css/css_rwd_mediaqueries.asp https://developer.mozilla.org/es/docs/Web/CSS/CSS_media_queries/Using_media_queries  as source for media query feature */

@media (max-width: 600px) {

    .sedan-container {
        margin-right: 20px !important;
        margin-left: 20px !important;

    }

    .container-suvs {
        margin-right: 20px !important;
        margin-left: 20px !important;
    }

    .container-luxury {
        margin-right: 20px !important;
        margin-left: 20px !important;
    }

    body {
        display: unset;
        padding: 0;
    }

}